:root {
  --bg-light: #eef2f8;
  --bg-dark: #062b45;
  --primary: #0c5b8f;
  --text: #666;
  --white: #fff;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: block;
}

.section {
  width: 100%;
  background: var(--bg-light);
  padding: 90px 0;
  text-align: center;
}

.section h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #222;
}

.section p {
  color: var(--text);
  line-height: 1.8;
  margin-bottom: 40px;
}

.form {
  display: flex;
  justify-content: center;
}

.form input {
  width: 420px;
  height: 55px;
  border: 1px solid #ddd;
  padding: 0 15px;
  outline: none;
  font-size: 16px;
}

.form button {
  width: 140px;
  height: 55px;
  border: none;
  background: var(--primary);
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
}

.footer {
  width: 100%;
  background: var(--bg-dark);
  padding: 70px 0;
}

.footerBox {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.footerLeft {
  flex: 1;
}

.footerRight {
  flex: 2;
}

.footerLeft h3,
.footerRight h3 {
  color: var(--white);
  font-size: 30px;
  margin-bottom: 25px;
}

.footerLeft p {
  color: #cfd8df;
  line-height: 1.8;
  margin-bottom: 35px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.gallery img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.follow {
  color: var(--white);
}

@media (max-width: 992px) {
  .footerBox {
    flex-direction: column;
    gap: 50px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .section {
    padding: 60px 0;
  }

  .section h2 {
    font-size: 30px;
  }

  .section p {
    font-size: 15px;
  }

  .form {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .form input,
  .form button {
    width: 100%;
    max-width: 350px;
  }

  .footer {
    padding: 50px 0;
  }

  .footerLeft,
  .footerRight {
    text-align: center;
  }


  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery img {
    height: 150px;
  }
}


@media (max-width: 480px) {
  .section h2 {
    font-size: 24px;
  }

  .footerLeft h3,
  .footerRight h3 {
    font-size: 24px;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery img {
    height: 220px;
  }
}