
.col-left{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.col-right{
  display: flex ;
  align-items: center;
  justify-content: space-between;
padding-bottom: 64px;
}

.col-img1{
  padding-top: 90px;
}

